<tr>
  <td align="center" valign="top" bgcolor="#f1f69d" style="background-color:#f1f69d; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
      <tr>
        <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
        <img src="images/icon.png" width="200" height="250" align="right" style="margin-left:10px;">
        <div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:56px; color:#000000;">Bienvenido<span style="color:#478730;">!</span></div>
        <div style="font-size:28px;"><br>
          <P ALIGN="justify">Hola <%= @user.name %>, es un gusto para nosotros, recibirte en la comunidad de Campo a la Mano.</div>
          <div> <br>
            <br>
            <P ALIGN="justify">Aquí no solo encontraras productos, este es tu primer paso para conectarte con toda una comunidad de comerciantes agrícolas. Podrás ofrecer tus productos a una gran cantidad de clientes, o si lo que deseas es comprar, tienes una gran variedad de ofertas para complacer todas tus necesidades. También puedes encontrar aliados!, podrás contactar con otros comerciantes agrícolas interesados en tu actividad y crear así una red de socios con los que podrás impulsar tu negocio, ayudante a alcanzar todas las metas que te has propuesto. Nuevamente, te damos la bienvenida a esta maravillosa comunidad.<br>
          </div></td>
      </tr>
    </table></td>
</tr>