<tr>
  <td align="center" valign="top" bgcolor="#f1f69d" style="background-color:#f1f69d; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
      <tr>
        <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
        
        <div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:56px; color:#000000;">Has realizado una venta<span style="color:#478730;">!</span></div>
        <div style="font-size:28px;"><br>
          <P ALIGN="justify">Una gran noticia <%= @user.name %>, has vendido el articulo identificado con el ID: <%= @sale.id %>.</div>
          <div> <br>
            <br>
            <P ALIGN="justify">Recuerda que en la pagina podrás encontrar toda la información sobre tu comprador, comunícate con el lo antes posible. Un comprador feliz es un cliente que volverá!<br>
          </div></td>
      </tr>
    </table></td>
</tr>