<tr>
  <td align="center" valign="top" bgcolor="#f1f69d" style="background-color:#f1f69d; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
      <tr>
        <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
        <%#<%= image_tag("images/icon.jpg", :alt => "rss feed", :width => "200", :height =>"250", :align => "right", :style =>"margin-left:10px;") %>
        <%#<img src="images/icon.jpg" alt="Fallo" width="200" height="250" align="right" style="margin-left:10px;">%>
        <div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:56px; color:#000000;">Advertencia<span style="color:#478730;">!</span></div>
        <div style="font-size:28px;"><br>
          <P ALIGN="justify">Hola, debemos informarte que al realizar una revisión de tus actividades en la plataforma Campo a la Mano, hemos encontrado violaciones a los términos y condiciones de uso.</div>
          <div> <br>
            <br>
            <P ALIGN="justify">Con el fin de brindar la mejor experiencia para toda nuestra comunidad, se han diseñado los términos y condiciones de uso de la plataforma, es muy importante que acates estas reglas para evitar medidas, como la eliminación de tu cuenta.<br>
          </div></td>
      </tr>
    </table></td>
</tr>