<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
  </head>
  <body onload='number_pages'>
    <div id="content">
      <center><div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:56px; color:#000000;">Estos son los articulos que has publicado por mes<span style="color:#478730;"></span></div></center>
      <br>
      <br>
      <div>
        <%= image_tag("file://#{Rails.root.join('public', 'images', 'exciting.png')}") %>
    </div>
    </div>
  </body>
</html>

